@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    margin: 0px;
    padding: 0px;
    min-width: 100vw;
    min-height:100vh ;
    overflow-x: hidden;
}

.glass{
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
height:400px ;
width: 400px;
margin:10px
}

@media screen and (min-width: 639) {
    .glass{
        width: 470px;
        height: 500px;
        display: hidden;
    }
}


.tglass{
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
height:300px ;
width: 450px;
}

.fade-anim .test{
    animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
